<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/img/logo-cubo.png">
    <link rel="stylesheet" href="/public/styles/footer-hub/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">    <title>Footer Saga Hub</title>
</head>
<body>
    <footer>
    <div class="footerBottom">
        <img src="/public/assets/img/logo-cubo.png" alt="Logo Cubo" class="footer-logo">
        <p><span class="designer">© 2025 SagaHub Todos os direitos reservados</span> |  Powered by Augusto Pisa e Miguel Castellani</p>
    </div>
</footer>
</body>
</html>