@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* LADO ESQUERDO */
.left-panel {
  flex: 1;
  background-color: #a32924;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.logo-topo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.logo-topo img {
  max-width: 300px;
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.quote-box {
  max-width: 80%;
  font-size: 2.0rem;
  font-style: italic;
  line-height: 1.5;
  margin-top: 20px;
}

.author {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.5rem;
  font-style: italic;
}

.logo-cube {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 80px;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
}

/* LADO DIREITO */
.right-panel {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.login-box {
  background: white;
  padding: 50px;
  border-radius: 12px;
  width: 120%;
  max-width: 480px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  font-size: 1.6rem;
  color: #000;
  text-align: center;
}

.login-box p {
  text-align: center;
  margin-bottom: 25px;
  color: #444;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgot-password {
  text-align: right;
  margin: 8px 0 18px;
}

.forgot-password a {
  color: #a32924;
  font-size: 0.9rem;
  text-decoration: none;
}

button {
  width: 100%;
  background-color: #a32924;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  background-color: #aaa;
}

#error-message {
  margin-top: 12px;
  color: red;
  text-align: center;
}

footer {
  margin-top: 20px;
  font-size: 0.75rem;
  color: #888;
  text-align: center;
}
