<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contato - SagaHub</title>
    <link rel="stylesheet" href="/public/styles/home-screen/contato.css" />
    <link rel="icon" href="/public/assets/img/logo-cubo.png" type="image/png" />
</head>
<body>
    <div class="background-overlay"></div>

    <div class="container">
        <div class="logo">
            <img src="/public/assets/img/logo.png" alt="Logo SagaHub" />
        </div>
        <div class="contato-info">
            <h1>Fale Conosco</h1>
            <p><strong>Telefone:</strong> (45) 3055-2540</p>
            <p><strong>E-mail:</strong> contato@saga.cnt.br</p>
            <p><strong>Endereço:</strong> : R. Gen. Rondon, 2435 - Jardim La Salle, Toledo - PR</p>

            <a href="/public/templates/home-screen/inicio.html" class="btn-voltar">← Voltar para Início</a>
        </div>
    </div>
</body>
</html>
